# Virtual environments
.venv/
venv/
uz_env/
env/

# Secrets and local config
.env

# Python bytecode & cache
__pycache__/
*.py[cod]

# Local database files
instance/
*.db
*.sqlite3

# VS Code settings
.vscode/
